Hallo {{user}}<br/>
<div>
	balance: {{balance/100}}&euro;
</div>
<a href="#/details">Detailansicht</a>
<div>
<input ng-model="amount" />
<a href="" ng-click="pay(amount)">einzahlen</a>
<a href="" ng-click="pay(10)">10</a>
<a href="" ng-click="pay(20)">20</a>
<a href="" ng-click="pay(50)">50</a>
</div>
{{message}}
<a href="" ng-click="undo(50)">undo</a>
<div>
  <table>
    <tr ng-repeat="item in items">
		<td><a href="" ng-click="buy(item.id)">{{item.name}}</a></td><td> {{item.price/100}}&euro;</td>
    </tr>
  </table>
</div>
