<form class="form-signin" role="form" ng-submit="setUser(user,pass)">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="user" class="form-control" placeholder="User" required autofocus ng-model="user">
	<input type="password" class="form-control" placeholder="Password" required ng-model="pass">
	<div class="checkbox">
		<label>
			<input id="rememberme" type="checkbox" value="remember-me" ng-model="remember"> Remember me
		</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

